:root {
  --primary-color:  #E93A33;
  --secondary-color:  #402A29 ;
  

  --primary-color-light:  #fadfde;
  --secondary-color-light:  #f5d99c;
  

  --text-color-white: #ffffff;
  --text-color-black: #000000;
  
}
